/* Font Styles */
.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}
  
.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}
.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Setting up color vars */
:root{
    --color1: #222831;
    --color2: #31363F;
    --color3: #76ABAE;
    --color4: #EEEEEE;
    --color5: #00000053;
}
@media (prefers-color-scheme: light) {
    :root {
        --color3: #92C7CF;
        --color2: #AAD7D9;
        --color1: #FBF9F1;
        --color4: #0c0c0c;
        --color5: #ffffff9a;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color4);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    max-width: 100vw;
}
body{
    font-size: 120%;
    background-color: var(--color2);
    max-width: 100vw;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
i{
    color: var(--color4);
}
h1, h2, h3{
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
}
.blue{
    color: var(--color3);
}
.header{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background-color: var(--color1);
}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-color: var(--color5);
    z-index: 9999;
}
.navbar ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.navbar a{
    min-height: 100%;
    color: var(--color4);
    padding: 15px;
    display: block;
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--color4);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.navbar :hover::after,
.navbar :focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}  
.navbar a:hover::after,
.navbar a:focus::after{
    opacity: 1;
}
.navbar a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
  
.navbar a:hover::after,
.navbar a:focus::after{
    transform: scale(1);
}
.navbar div{
    min-height: 100%;
}
.landing{
    padding-top: 150px;
    display: flex;
    flex-flow: row nowrap;
}
.landing div{
    padding: 15px;
    margin: 20px;
    max-width: 60vw;
}
.linkbox{
    background-color: var(--color3);
    padding: 10px;
}
.body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: var(--color2);
}
.body section{
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 60vh;
}
.spacedown{
    margin-top: 100px;
}
/* footer styles */
.footer{
    background-color: var(--color3);
    min-height: 20vh;
    display: flex;
    flex-flow: column nowrap;
}
.footer div{
    min-height: 20vh;
}
.copy{
    background-color: var(--color1);
    padding: 10px;
}